$logo-colour: #816013;
$error-colour: #b50000;
$notice-colour: #005dff;
$alert-colour: #eac300;
$good-colour: #007f0e;

$error-bg-colour: lighten($error-colour, 50%);
$notice-bg-colour: lighten($notice-colour, 30%);
$alert-bg-colour: lighten($alert-colour, 40%);
$input-bg-colour: lighten($logo-colour, 50%);
$disabled-bg-colour: #eee;

$neutral-bg-colour: #eee;
$neutral-border-colour: #aaa;

$light-text: #888;

$gatherer-image-width: 223px;

@mixin when-smaller-than($breakpoint) {
  @if $breakpoint == small {
    @media (max-width: 650px) { @content; }
  }
  @else if $breakpoint == medium {
    @media (max-width: 850px) { @content; }
  }
}