/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
*/
@import "compass/reset";
@import "compass/css3/box-sizing";
@import "mixins";

* {
  @include box-sizing(border-box);
}

html {
  line-height: 1.2;
}

body {
  font-size: 16px;
  padding: 0.5em 2em 0;

}

header {
  margin-bottom: 10px;
}

#site-logo a {
  display: inline-block;
  font-size: 4em;
  color: black;
  text-decoration: none;
  border: 3px outset $logo-colour;
  padding: 0 10px;
}

nav {
  float: right;
  @include small-screen {
    float: none;
  }
}

#flash {
  p {
    display: inline-block;
    padding: 8px 14px;
    margin-bottom: 10px;
    border: 1px solid;
    border-radius: 4px;

    &.notice {
      background-color: $notice-bg-colour;
      border-color: $notice-colour;
    }
    &.alert {
      background-color: $alert-bg-colour;
      border-color: $alert-colour;
    }
  }
}

fieldset {
  max-width: 1000px;
  border: 1px solid DarkGray;
  border-radius: 5px;
  padding: 0 10px;
  margin: 5px 0;
  div {
    margin: 10px 0;
    label {
      float: left;
      width: 10em;
    }
  }

  .field_with_errors {
    label {
      color: $error-colour;
      &:before {
        content: '! ';
        font-weight: bold;
      }
    }
    input, select { background-color: $error-bg-colour; }
  }
}

input:focus:not([type=submit]):not([type=button]) {
  background-color: $input-bg-colour;
}

input[type=checkbox] {
  margin: 0;
  vertical-align: middle;
  position: relative;
  bottom: 1px;
}

#error_explanation {
  margin: 10px 0;
  border: 2px solid $error-colour;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: $error-bg-colour;

  display: inline-block;
  padding: 5px;

  h2 {
    font-size: 1.5em;
    font-weight: bold;
  }
}

ul {
  list-style: disc inside;
}

.explain {
  font-style: italic;
  color: $light-text;
}