/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
*/
@import "compass/reset";
@import "compass/css3/box-sizing";
@import "sassybuttons";
@import "mixins";
@import "fonts";
@import "icons";

* {
  @include box-sizing(border-box);
}

html {
  line-height: 1.2;
}

body {
  font-size: 16px;
  padding: 0.5em 2em 0;
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

// Switch between javascript and noscript
.js .nojs-section, .no-js .js-section {
  display: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Cambria, Georgia, serif;
}

header {
  margin-bottom: 10px;
  position: relative;
}

#site-logo a {
  display: inline-block;
  font-size: 4em;
  font-family: Cambria, Georgia, serif;
  color: black;
  text-decoration: none;
  border: 3px outset $logo-colour;
  padding: 0 10px;

  @include small-screen {
    width: 100%;
    text-align: center;
  }
}

nav {
  position: absolute;
  top: 0;
  right: 0;

  @include small-screen {
    position: relative;
    width: 100%;
    min-height: 40px;
    line-height: 40px;

    text-align: center;

    a {
      position: absolute;
      height: 100%;
      width: 50%;
      top: 0;

      background-color: $logo-colour;
      color: white;
      text-decoration: none;
      border: 1px solid white;

      /*&:hover,*/ &:active {
        background-color: darken($logo-colour, 10%);
      }

      &:first-child { left: 0; }
      &:last-child { right: 0; }
    }
  }
}

#flash {
  p {
    display: inline-block;
    padding: 8px 14px;
    margin-bottom: 10px;
    border: 1px solid;
    border-radius: 4px;

    &.notice {
      background-color: $notice-bg-colour;
      border-color: $notice-colour;
    }
    &.alert {
      background-color: $alert-bg-colour;
      border-color: $alert-colour;
    }
    &.error {
      background-color: $error-bg-colour;
      border-color: $error-colour;
    }
  }
}

button, input[type=button], input[type=submit], a.button {
  @include sassy-button;
  font-family: inherit;

  &.danger {
    @include sassy-button-gradient('matte', $error-colour);
  }
}
a.button {
  text-decoration: none;
}

fieldset {
  max-width: 1000px;
  border: 1px solid DarkGray;
  border-radius: 5px;
  padding: 0 10px;
  margin: 5px 0;
  div {
    margin: 10px 0;
    label {
      float: left;
      width: 10em;
    }
  }

  .field_with_errors {
    display: inline;

    label {
      color: $error-colour;
      &:before {
        content: '! ';
        font-weight: bold;
      }
    }
    input, select { background-color: $error-bg-colour; }
  }

  .error-explain {
    color: $error-colour;
    font-style: italic;
  }
}

input:not([type=submit]):not([type=button]){
  &:focus {
    background-color: $input-bg-colour;
  }

  &:disabled {
    background-color: $disabled-bg-colour;
  }
}

input[type=checkbox] {
  margin: 0;
  vertical-align: middle;
  position: relative;
  bottom: 1px;
}

#error_explanation {
  margin: 10px 0;
  border: 2px solid $error-colour;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: $error-bg-colour;

  display: inline-block;
  padding: 5px;

  h2 {
    font-size: 1.5em;
    font-weight: bold;
  }
}

.warning {
  color: $error-colour;
}

.good-info {
  color: $good-colour;
}

ul {
  list-style: disc inside;
}

.explain {
  font-style: italic;
  color: $light-text;
}

// OpenID Buttons
.omniauth-selector {
  display: inline-block;
  @include box-sizing(content-box);
  position: relative;
  width: 80px;
  height: 50px;
  margin: 2px;
  border: 1px solid DarkGray;
  border-radius: 5px;
  box-shadow: 2px 2px 4px $logo-colour;

  text-indent: -9999px;
  //background-image: url('/assets/openid_icons.png');

  &:hover, &:active {
    box-shadow: none;
    border-width: 2px;
    margin: 0 0 0 2px;
    top: 2px;
  }

  &.google-icon {
    background-image: url('/assets/google_icon.png');
  }
  &.yahoo-icon {
   background-image: url('/assets/openid_yahoo_icon.png');
  }
  &.se-icon {
    background-image: url('/assets/openid_se_icon.png');
  }
  &.steam-icon {
    background-image: url('/assets/openid_steam_icon.png');
  }
  &.lj-icon {
    background-image: url('/assets/openid_lj_icon.png');
  }
  &.openid-icon {
    background-image: url('/assets/openid_openid_icon.png');
  }
  &.facebook-icon {
    background-image: url('/assets/facebook_icon.png');
  }
}

#openid_url {
  background-image: url('/assets/openid-icon-18x18.gif');
  background-repeat: no-repeat;
  padding-left: 20px;
}

#js_submit_openid {
  margin-left: 5px;
}

table.auth-list {
  margin-left: 10px;

  tr {
    .auth-nickname, .auth-remove {
      vertical-align: middle;
      padding: 5px 10px;
    }

    .auth-remove {
      color: $light-text;
      text-decoration: none;

      &:hover {
        color: $error-colour;
      }
    }
  }
}